/* Web Fonts ----------------------- */
@font-face {
  font-family: "Abolition Regular";
  src: url("../fonts/abolition-regular-webfont.woff") format("woff");
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-family: Verdana, Geneva, sans-serif;
}
img {
  width: 100%; /* responsive images */
}


/* Main Styles --------------------- */


/* Media Queries ------------------- */

